{% extends "base.html.twig" %}

{% block title %}{{ titre }}{% endblock %}

{% block content %}
        <div class="text-center">
            <div class="message-lead">
                <img src="{{ logoEF }}" alt="Logo Edu Framework" width="50px">
                <p class="lead">welcome to Edu-Framework</p>
                <p class="mini-lead">{{ bonjour }}</p>
                <p class="mini-lead"><a href="https://studoo-app.github.io/edu-framework-doc/faire-un-controller.html" target="_blank">Etape suivante >> faire un controller</a></p>
            </div>
        </div>
{% endblock %}