# Managed by Composer
vendor/
var/
# Composer
composer.phar

# IDE configuration
.idea/**
.vscode/**

# Testing @ QA
.php-cs-fixer.cache
.php-cs-fixer.php
.phpunit.result.cache

# Environment
.env
clover.xml
