# Managed by Composer
/vendor/
/var/
# Composer
/composer.phar

# IDE configuration
/.idea/**
/.vscode/**
.DS_Store

# Testing @ QA
.php-cs-fixer.cache
.php-cs-fixer.php
.phpunit.result.cache
.codacy/logs/

# Environment
/.env
/clover.xml
/.codacy

# Documentation
venv/**
.cache/**
site/**
.DS_Store
