{% extends "base.html.twig" %}

{% block title %}{{ titre }}{% endblock %}

{% block content %}
<h1>{{ titre }}</h1>
    Lien HOME : <a href="{{ getNameToPath('home') }}">HOME</a>
    <br>
    Lien USER : <a href="{{ getNameToPath('user', {"id":"21"}) }}">21</a>
{% endblock %}