<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block titre %}{% endblock %}</title>
</head>
    <body>
        {% block content %}{% endblock %}
        {% block footer %}{% endblock %}
        {% block javascript %}{% endblock %}
    </body>
</html>