{% extends "base.html.twig" %}

{% block title %}{{ titre }}{% endblock %}

{% block content %}
<h1>{{ titre }}</h1>

    {% if ville is not null %}
        <div class="alert alert-success" role="alert">
            La ville est {{ ville }}
        </div>
    {% endif %}

    <p>Créer une nouvelle ville</p>
    <form method="post">
        <div class="form-group">
            <label for="ville">Ville</label>
            <input type="text" class="form-control" id="ville" name="ville" value="" placeholder="Mettre une ville">
        </div>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </form>
{% endblock %}