{% extends "base.html.twig" %}

{% block title %}{{ titre }}{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="text-center">
            <img src="/assets/media/studoo.svg" alt="Logo Edu Framework" width="50px">
            <p class="lead">welcome to Edu-Framework</p>
            <p class="mini-lead">{{ bonjour }}</p>
        </div>
    </div>
</div>
{% endblock %}